<header>
<pre class="ascii logo">
</pre>
<pre class="ascii name">
   ________  ___       ___  ________
   |\   ____\|\  \     |\  \|\   ____\
    \ \  \___|\ \  \    \ \  \ \  \___|
  \ \  \    \ \  \    \ \  \ \  \
        \ \  \____\ \  \____\ \  \ \  \____
           \ \_______\ \_______\ \__\ \_______\
            \|_______|\|_______|\|__|\|_______|
</pre>
</header>
